body {
  background-color: #f8f8f8;
  margin: 0;
}

* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.375em !important;
  color: #484848 !important;
}
